.spinner {
    position: relative;
    margin: auto;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

.waiting-text {
    font-size: 25px;
}

.icon-display {
    transform: scale(1.3);
    padding-left: 2px;
}
